/* General Body */
body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(154, 173, 105);
    cursor: url('default-cursor-2.png') 0 32, auto;
    background-image: url('background-pattern.png'); /* Path to your image */
    background-repeat: repeat; /* Tiles the image */
    background-size: 30%; /* Keeps the original size for each tile */
    background-attachment: fixed;
}

/* Link and Button */
a, button {
    cursor: url('pointer-cursor.png') 0 0, pointer;
}

a {
    color: rgb(123, 34, 34);
    text-decoration: none;
}

/* Header */
header {
    position: relative;
    color: #fff;
    text-align: center;
    cursor: url('default-cursor-2.png') 0 32, auto;
}

.header-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 13%;
    height: auto;
    z-index: 1;
    cursor: url('default-cursor-2.png') 0 32, auto;
}

/* Navigation Bar */
nav {
    position: absolute;
    bottom: 0px;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    cursor: url('default-cursor-2.png') 0 32, auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
}

/* Navigation Buttons */
.nav-button {
    max-width: 150px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    pointer-events: auto;
}

.nav-button:hover {
    transform: scale(1.1);
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    text-align: center;
    height: calc(100vh - 260px);
}

/* Buttons */
button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: url('pointer-cursor.png') 0 0, pointer;
}

button:hover {
    cursor: url('pointer-cursor.png') 0 0, pointer;
}

/* Introduction */
.intro {
    max-width: 80%;
    margin: auto;
    padding: 0.5rem;
    padding-bottom: 4rem;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0; 
}

.intro-text {
    flex: 1;
    margin-right: 10%;
    margin-top: 3%;
    text-align: center;
    font-size: large;
    color: rgb(35, 55, 17);
    line-height: 1.4; 
    word-spacing: 0.005rem;
    background: rgb(159, 173, 119, 0.8);
    padding-left: 5%;
    padding-right: 5%;
}

.intro-image {
    flex-basis: 30%; /* Adjust this percentage to control the container width */
    flex-shrink: 0;
    margin-left: 8%;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    padding-right: 0;

}


/* RESUME */

/* PDF Container */
.pdf-container {
    padding-bottom: 20px;
    text-align: center;
}

.pdf-container iframe {
    width: 900px;
    height: 1175px;
    border: none;
}

/* Download Button */
.download-button {
    margin-top: 20px;
}

.download-button img {
    width: 150px;
    height: auto;
    cursor: url('pointer-cursor.png') 0 0, pointer;
}

.download-button img:hover {
    opacity: 0.8;
    cursor: url('pointer-cursor.png') 0 0, pointer;
}

/* ABOUT ME */
.about-me-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    max-width: 65%;
    margin: 0 auto;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 3rem;
    text-align: center;
    line-height: 1.6;
    font-size: large;
    background: rgb(159, 173, 119, 0.8);

}

/* CONTACT */
.contact-text {
    background-color: rgba(159, 173, 119, 0.8); 
    padding-right: 5%; 
    padding-left: 5%;
    padding-bottom: 5%;
}

.contact-header {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-top: 0px;
    color: rgb(33, 41, 20);
}

.contact-line {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: rgb(33, 41, 20);
}

/*PROJECTS*/

.project-feed{
    padding-bottom: 10%;
}

/* Wordcraft Section */
.word-craft {
    background: rgb(170, 185, 128);
    margin: 0 auto 40px auto;
    padding: 1%;
    width: 70%;
    box-sizing: border-box;
}

.word-craft p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    color: rgb(35, 55, 17);
}

/* Wordcraft Image Gallery */
.wordcraft-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap: 1%;
}

.wordcraft-image-gallery img {
    max-width: 15%;
    height: auto;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, z-index 0.3s ease;
    transform-origin: center center;
    z-index: 0;
}

.wordcraft-image-gallery img:hover {
    transform: scale(2.0);
    z-index: 10;
}

/* VR Project Section */
.vr-project {
    background: rgb(170, 185, 128);
    margin: 0 auto 40px auto;
    padding: 1%;
    width: 70%;
    box-sizing: border-box;
}

.vr-project p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    color: rgb(35, 55, 17);
}

/* VR Project Image Gallery */
.vrp-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap: 1%;
}

.vrp-image-gallery img {
    max-width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, z-index 0.3s ease;
    transform-origin: center center;
    z-index: 0;
}

.vrp-image-gallery img:hover {
    transform: scale(2.0);
    z-index: 10;
}

/* Weather Project Section */
.weather-project {
    background: rgb(170, 185, 128);
    margin: 0 auto 40px auto;
    padding: 1%;
    width: 70%;
    box-sizing: border-box;
}

.weather-project p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    color: rgb(35, 55, 17);
}

/* Weather Project Image Gallery */
.weather-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap: 1%;
}

.weather-image-gallery img {
    max-width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, z-index 0.3s ease;
    transform-origin: center center;
    z-index: 0;
}

.weather-image-gallery img:hover {
    transform: scale(2.0);
    z-index: 10;
}

/* Pomo Section */
.pomodoro {
    background: rgb(170, 185, 128);
    margin: 0 auto 40px auto;
    padding: 1%;
    width: 70%;
    box-sizing: border-box;
}

.pomodoro p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    color: rgb(35, 55, 17);
}

/* Pomodoro Image Gallery */
.pomodoro-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap: 1%;
}

.pomodoro-image-gallery img {
    max-width: 40%;
    height: auto;
    margin: 1%;
    padding: 0;
    transition: transform 0.3s ease, z-index 0.3s ease;
    transform-origin: center center;
    z-index: 0;
}

.pomodoro-image-gallery img:hover {
    transform: scale(2.0);
    z-index: 10;
}

.pomodoro-image-gallery img:nth-child(3) { /* Adjust 3rd pomodoro image */
    max-width: 80%; 
    height: auto;
}

.pomodoro-image-gallery img:nth-child(3):hover { /* Adjust 3rd pomodoro image */
    transform: scale(1.5); 
    z-index: 10;
}

/* Website Project Section */
.website {
    background: rgb(170, 185, 128);
    margin: 0 auto 40px auto;
    padding: 1%;
    width: 70%;
    box-sizing: border-box;
}

.website p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    color: rgb(35, 55, 17);
}

/* Website Image Gallery */
.website-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    gap: 1%;
}

.website-image-gallery img {
    max-width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, z-index 0.3s ease;
    transform-origin: center center;
    z-index: 0;
}

.website-image-gallery img:hover {
    transform: scale(2.0);
    z-index: 10;
}