<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Ya+Like+A+Sister&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script src="script.js" defer></script>
</head>
<body>
    <header style="background: url('Header.png') no-repeat center center; background-size: cover; height: 260px;">
        <img src="nameHeading.png" alt="Nahfila Ali" class="header-image">
        <nav>
            <ul>
                <li>
                    <a href="index.html" class="nav-link">
                        <img src="home-button.png" alt="Home" class="nav-button"
                             data-hover="home-button-hover.png"
                             data-original="home-button.png">
                    </a>
                </li>
                <li>
                    <a href="about.html" class="nav-link">
                        <img src="about-button.png" alt="About Me" class="nav-button"
                             data-hover="about-button-hover.png"
                             data-original="about-button.png">
                    </a>
                </li>
                <li>
                    <a href="resume.html" class="nav-link">
                        <img src="resume-button.png" alt="Resume" class="nav-button"
                             data-hover="resume-button-hover.png"
                             data-original="resume-button.png">
                    </a>
                </li>
                <li>
                    <a href="contact.html" class="nav-link">
                        <img src="contact-button.png" alt="Contact" class="nav-button"
                             data-hover="contact-button-hover.png"
                             data-original="contact-button.png">
                    </a>
                </li>
                <li>
                    <a href="art.html" class="nav-link">
                        <img src="my-art-button.png" alt="My Art" class="nav-button"
                             data-hover="my-art-button-hover.png"
                             data-original="my-art-button.png">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="contact-text"> 
            <h1 class="contact-header">Contact Me</h1>
            <p class="contact-line">Email: ali.nahfila@gmail.com</p>
            <p class="contact-line">Phone: (917)-742-1997</p>
            <p class="contact-line">LinkedIn: <a href="https://www.linkedin.com/in/nahfilaali/" target="_blank">https://www.linkedin.com/in/nahfilaali/</a> </p>
        </div>
    </main>
</body>
</html>
